.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 10vh;
}

.App-logo {
  width: 5vh;
  height: 5vh;

  padding-right: 20px;
}

.App-logo:hover {
  cursor: pointer;
}

.pagination svg > *:hover {
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination .pages-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header .current-position-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 10%;

  font-size: xx-large;
  font-weight: bold;
}
