.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 10vh;
}

.App-logo {
  width: 5vh;
  height: 5vh;

  padding-right: 20px;
}

canvas {
  width: 200px;
}

.App-header div:nth-child(1) {
  /* border: 1px solid cyan; */

  width: 100px !important;
}

.pagination svg > *:hover {
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination .pages-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}
