.slide-container {
  min-height: 86vh;
  width: 96vw;
  background-color: #282c34;
  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  position: absolute;

  margin: 2vh 2vw;
}

h1 {
  margin: 0;
}

p {
  font-size: 24px;
}
