.App {
  text-align: center;

  background-color: #282c34;
  color: #ffffff;
  min-height: 200vh;
}

div {
  background-color: #282c34;
  color: #ffffff;
}

.pageBreak {
  min-height: 90vh;
}

.gistWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
